@use '../abstracts' as abs;

.header {
  padding: 25px 80px;  
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  p{
    @include abs.font('Clash Display' ,24px , #22202E);
  }
      .iconmenu{
      display: none
    }
  nav {
    @include abs.flex-between;
    flex-wrap: nowrap;
    gap: 44px;
    a {
      @include abs.font(null ,null , #726E8D);
      text-decoration: none;
      gap: 44px;
      white-space: nowrap;
    }
  }
  &-icon{
    @include abs.flex-between;
    gap: 16px;
  }
  .spacer-1 {
    flex: 1;
  }
  .spacer-2 {
    flex: 2;
  }
  @include abs.respond() {
    padding: 20px 24px;
    nav {
      display: none;
    }
    .iconmenu{
      display: inline;
    }

  }

}
