@use '../abstracts' as abs;
.feature{
    width: 100%;
    padding: 60px 80px;
    max-width: 1440px;
    margin: 0 auto;
    @include abs.flex-column;
    gap: 50px;
    @include abs.respond() {padding: 48px 24px; align-items: flex-start};
    &__title{
        h4{
            @include abs.font('Clash Display' ,24PX , #2A254B,1.4);
            @include abs.respond() {@include abs.font('Clash Display' ,20PX , #2A254B,1.4); width: 80%; align-items: flex-start };
        }
    }
    &__list{
        width: 100%;
        @include abs.flex-between;
        @include abs.respond() {@include abs.flex-column;gap: 35px;align-items: flex-start}
        &__block{
            @include abs.flex-column;
            align-items: flex-start;
            align-self: flex-start;
            gap: 20px;
            width: 260px;  
            h4{
                @include abs.font('Clash Display' ,20PX , #2A254B,1.4);
                @include abs.respond() {font-size: 16px};
            }
            p{
                @include abs.font('Satoshi' ,16PX , #2A254B,1.5);
                @include abs.respond() {font-size: 14px}
            }
            @include abs.respond() {gap: 16px; width: 100%;
            }
        }
    }
}