@import url('https://api.fontshare.com/v2/css?f[]=clash-display@400,500,700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700&display=swap');
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin font($font-family: 'Satoshi', $font-size:16px, $color: white, $lh: 1.5){
    font-family: $font-family, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: $font-size;
    color: $color;
    line-height: $lh;
    
}
@mixin respond() {
    @media (max-width: 800px) { @content; }
}
/* 21 New York Street */






